<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% include "chlamdb/header.html" %}

</head>

<body>
<div id="container2">

    <div id="content">


        {% if not valid_id %}

            <section id="head_section">
            Invalid ID or 0 significant NR hits
            </section>


        {% else %}

            <nav>
                <ul id="tabs_main" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Detailed result</a></li>
                    <li><a href="#tab2" data-toggle="tab">Excluding PVC</a></li>
                </ul>
            </nav>

            <div id="my-tab-content" class="tab-content">
    
                <div class="tab-pane active" id="tab1" style="padding-left: 15px;padding-top:20px">

                    <h3> <a href="https://www.uniprot.org/help/uniref" target="_blank">UniRef100</a> homologs (homology search computed with <a href="https://github.com/bbuchfink/diamond" target="_blank">Diamond</a>) </h3>
                    <ul>
                    <li>Number of RefSeq hits (max 200): {{ blast_data|length }} </li>
                    <li>Number of non PVC hits: {{ blast_data_filtered|length }} </li>
                    </ul>


                    <!--hit_number,subject_accession,superkingdom,subject_scientific_name,subject_taxid,subject_title,evalue,bit_score,percent_identity,gaps, length, phylum, order, family -->


                        <table id="blast_nr_table" class="table">
                            <thead>
                                <tr>
                                <th>n</th>
                                <th>Subject</th>
                                <th>Kingdom</th>
                                <th>Phylum</th>
                                <th>Order</th>
                                <th>Family</th>
                                <th>eval.</th>
                                <th>score</th>
                                <th>ID(%)</th>
                                <th>N gaps</th>
                                <th>Len.</th>
                                <th id=blast_subject_title>Description</th>
                                <th id=blast_taxonomy>Taxonomy</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- hit_number, subject_accession, subject_kingdom -->
                                <!-- subject_scientific_name, subject_taxid, subject_title, evalue, bit_score, percent_identity, gaps, length -->
                                {% for n,hit in blast_data.iterrows %}
                                <tr>
                                    <td>{{ hit.hit_number }}</td>
                                    {% if hit.subject_accession|slice:":2" == "UP" %}
                                        <td><a href="https://www.uniprot.org/uniparc/{{ hit.subject_accession }}/entry" target="_blank">{{ hit.subject_accession }}<a></td>
                                    {% else %}
                                        <td><a href="https://www.uniprot.org/uniprotkb/{{ hit.subject_accession }}/entry" target="_blank">{{ hit.subject_accession }}<a></td>
                                    {% endif %}
                                    <td>{{ hit.superkingdom }}</td>
                                    <td>{{ hit.phylum }}</td>
                                    <td>{{ hit.order }}</td>
                                    <td>{{ hit.family }}</td>
                                    <td>{{ hit.evalue }}</td>
                                    <td>{{ hit.bit_score }}</td>
                                    <td>{{ hit.percent_identity }}</td>
                                    <td>{{ hit.gaps }}</td>
                                    <td>{{ hit.length }}</td>
                                    <td>{{ hit.subject_title }}</td>
                                    <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{hit.subject_scientific_name}}" target="_top">{{ hit.subject_scientific_name}}</a></td>
                                </tr>
                                {%  endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="tab-pane" id="tab2" style="padding-left: 15px;padding-top:20px">


                    <table id="blast_nr_table_filt" class="table">
                        <thead>
                            <tr>
                            <th>n</th>
                            <th>Subject</th>
                            <th>Kingdom</th>
                            <th>Phylum</th>
                            <th>Order</th>
                            <th>Family</th>
                            <th>eval.</th>
                            <th>score</th>
                            <th>ID(%)</th>
                            <th>N gaps</th>
                            <th>Len.</th>
                            <th id=blast_subject_title>Description</th>
                            <th id=blast_taxonomy>Taxonomy</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- hit_number, subject_accession, subject_kingdom -->
                            <!-- subject_scientific_name, subject_taxid, subject_title, evalue, bit_score, percent_identity, gaps, length -->
                            {% for n,hit in blast_data_filtered.iterrows %}
                            <tr>
                                <td>{{ hit.hit_number }}</td>
                                {% if hit.subject_accession|slice:":2" == "UP" %}
                                <td><a href="https://www.uniprot.org/uniparc/{{ hit.subject_accession }}/entry" target="_blank">{{ hit.subject_accession }}<a></td>
                                {% else %}
                                    <td><a href="https://www.uniprot.org/uniprotkb/{{ hit.subject_accession }}/entry" target="_blank">{{ hit.subject_accession }}<a></td>
                                {% endif %}
                                <td>{{ hit.superkingdom }}</td>
                                <td>{{ hit.phylum }}</td>
                                <td>{{ hit.order }}</td>
                                <td>{{ hit.family }}</td>
                                <td>{{ hit.evalue }}</td>
                                <td>{{ hit.bit_score }}</td>
                                <td>{{ hit.percent_identity }}</td>
                                <td>{{ hit.gaps }}</td>
                                <td>{{ hit.length }}</td>
                                <td>{{ hit.subject_title }}</td>
                                <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{hit.subject_scientific_name}}" target="_top">{{ hit.subject_scientific_name}}</a></td>
                            </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endif %}

    </div>
</div>
<script>

  $(document).ready(function() {
    $('#blast_nr_table').DataTable( {
      dom: 'lBfrtip',
      buttons: [
          {
              extend: 'colvis',
              columns: ':not(.noVis)',
          },
          {
              extend: 'excel',
              title: 'plast_refseq'
          },
          {
              extend: 'csv',
              title: 'plast_refseq'
          }
      ],
      "paging":   true,
      "ordering": true,
      "info":     false,
      } );
  } );
  $(document).ready(function() {
    $('#blast_nr_table_filt').DataTable( {
      dom: 'lBfrtip',
      buttons: [
          {
              extend: 'colvis',
              columns: ':not(.noVis)',
          },
          {
              extend: 'excel',
              title: 'plast_refseq'
          },
          {
              extend: 'csv',
              title: 'plast_refseq'
          }
      ],
      "paging":   true,
      "ordering": true,
      "info":     false,
      } );
  } );
  
$('.dropdown-toggle').dropdown()
</script>

</body>
</html>
