<!DOCTYPE html>


<html>

<head>

<meta name="description" content="A comparative genomics database of the phylum Chlamydiae and other PVC (Planctomycetes, Verrucomicrobia, Lentisphaerae).">

    {% load static %}
    {% load static %}

{% include "chlamdb/header.html" %}

</head>

<body>
    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
            <div id="page-content-wrapper">
              <div class="row">
                <div class="col-lg-12">
                   {% include "chlamdb/menu.html" %}


                          <div class="col-lg-12 col-md-12 col-sm-12">
                           <div class="row">

                            <table class="display" id="genomes_table">
                                <thead>


                                    <tr>
                                        <th>Accession</th>
                                        <th>GC</th>
                                        <th>N proteins</th>
                                        <th>N contigs</th>
                                        <th>Size</th>
                                        <th>Percent non coding</th>
                                        <th>Organism</th>
                                        <th>Browse Online</th>
                                        <th>gbk</th>
                                        <th>faa</th>
                                        <th>fna</th>
                                        <th>ffn</th>
                                        <th>tab</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for values in genomes_data %}

                                    <tr>
                                        <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{values.0}}">{{values.0}}</a></td>
                                        <td>{{values.1}}</td>
                                        <td>{{values.2}}</td>
                                        <td>{{values.3}}</td>
                                        <td>{{values.4}}</td>
                                        <!--<td>{{values.5}}</td>-->
                                        <!--<td>{{values.6}}</td>-->
                                        <!--<td>{{values.7}}</td>-->
                                        <!--<td>{{values.8}}</td>-->
                                        <td>{{values.9}}</td>
                                        <td>{{values.13}}</td>
                                        <td><a href="{% url 'genome_annotation' values.0 %}">{{values.0}}</a></td>

                                        <td style="vertical-align:top" nowrap>
                                            <a  style="text-decoration:none;" href="{% url 'get_record' values.0 'gbk' %}">
                                            <span style="background-color:#DCFFF0;color:black;padding:1px;">GBK</span></a>
                                        </td>

                                        <td nowrap>
                                            <a  style="text-decoration:none;" href="{% url 'get_record' values.0 'faa' %}"">
                                            <span style="background-color:#DCFFF0;color:black;padding:1px;">FAA</span></a>
                                        </td>

                                        <td nowrap>
                                            <a  style="text-decoration:none;" href="{% url 'get_record' values.0 'fna' %}"">
                                            <span style="background-color:#DCFFF0;color:black;padding:1px;">FNA</span></a>
                                        </td>

                                        <td nowrap>
                                            <a  style="text-decoration:none;" href="{% url 'get_record' values.0 'ffn' %}">
                                            <span style="background-color:#DCFFF0;color:black;padding:1px;">FFN</span></a>
                                        </td>

                                        <td nowrap>
                                            <a  style="text-decoration:none;" href="{% url 'get_record' values.0 'gbk' %}">
                                            <span style="background-color:#DCFFF0;color:black;padding:1px;">TAB</span></a>

                                    </tr>

                                 {% endfor %}

                                </tbody>
                            </table>
                        </div><!-- row -->
                      </div> <!-- col -->

                    <!--<img src="{% static 'chlam_tree.png' %}" width="80%"-->
                </div> <!--col -->
              </div> <!--row -->
            </div> <!--page-content-wrapper -->
        </div> <!--wrapper -->
      </div> <!--container -->
    </div> <!--container -->

    <script>
      $(document).ready(function() {

      $('#genomes_table').DataTable( {
      dom: 'Bfrtip',
      "paging":   true,
      "ordering": true,
      "info":     false,
      buttons: [
        {
            extend: 'excel',
            title: 'interaction_table'
        },
        {
            extend: 'csv',
            title: 'interaction_table'
        }
      ],
      } );
      } );
    $('.dropdown-toggle').dropdown()




    </script>




</body>
{% include "chlamdb/style_menu.html" %}


</html>
